Repository Syfaro/fuzzysearch: changes, and which Drone steps are due for each by the changed paths.
All: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Build FuzzySearch API:
  pull: always
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/api
    username:
      from_secret: docker_username

Build Ingester e621:
  pull: always
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch-ingest-e621/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/ingest-e621
    username:
      from_secret: docker_username

Build Ingester FurAffinity:
  pull: always
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch-ingest-furaffinity/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/ingest-furaffinity
    username:
      from_secret: docker_username

Build Ingester Weasyl:
  pull: always
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch-ingest-weasyl/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/ingest-weasyl
    username:
      from_secret: docker_username

Initial attempt at a worker to refresh old data.
  .drone.yml
  Cargo.lock
  Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-refresh/Cargo.toml
  fuzzysearch-refresh/Dockerfile
  fuzzysearch-refresh/sqlx-data.json
  fuzzysearch-refresh/src/main.rs
  migrations/20210425051927_deleted_flag.down.sql
  migrations/20210425051927_deleted_flag.up.sql
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Build refresh image on non-master branches.
  .drone.yml
Due: none

Allow specifying missing batch sizes.
  fuzzysearch-refresh/src/main.rs
Due: none

Store more data for deleted submissions.
  fuzzysearch-refresh/sqlx-data.json
  fuzzysearch-refresh/src/main.rs
Due: none

Correctly parse Weasyl's explicit rating.
  Cargo.lock
  fuzzysearch-common/src/types.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Update branch in drone file.
  .drone.yml
Due: none

Update CI.
  .drone.yml
  .gitlab-ci.yml
Due: none

Bump versions.
  Cargo.lock
  fuzzysearch/Cargo.toml
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Fix dependencies.
  Cargo.lock
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch/Cargo.toml
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Unify tracing and metrics export.
  Cargo.lock
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/lib.rs
  fuzzysearch-common/src/trace.rs
  fuzzysearch-ingest-e621/Cargo.toml
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/src/main.rs
  fuzzysearch-webhook/src/main.rs
  fuzzysearch/Cargo.toml
  fuzzysearch/src/main.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Create service to hash image.
  Cargo.lock
  Cargo.toml
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/trace.rs
  fuzzysearch-image/Cargo.toml
  fuzzysearch-image/src/main.rs
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/src/main.rs
  fuzzysearch-webhook/src/main.rs
  fuzzysearch/src/main.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Updates for hashing service.
  .gitlab-ci.yml
  Cargo.lock
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/trace.rs
  fuzzysearch-hash-input/Cargo.toml
  fuzzysearch-hash-input/Dockerfile
  fuzzysearch-hash-input/src/main.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Fix missing file changes.
  Cargo.toml
Due: none

Old changes I don't remember.
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/trace.rs
  fuzzysearch/Cargo.toml
  fuzzysearch/src/filters.rs
  fuzzysearch/src/handlers.rs
  fuzzysearch/src/main.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Update dependencies, improve Docker images.
  .gitlab-ci.yml
  Cargo.lock
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/trace.rs
  fuzzysearch-hash-input/Cargo.toml
  fuzzysearch-hash-input/Dockerfile
  fuzzysearch-ingest-e621/Dockerfile
  fuzzysearch-ingest-furaffinity/Dockerfile
  fuzzysearch-ingest-weasyl/Dockerfile
  fuzzysearch-webhook/Dockerfile
  fuzzysearch/Cargo.toml
  fuzzysearch/Dockerfile
  fuzzysearch/src/filters.rs
  fuzzysearch/src/handlers.rs
  fuzzysearch/src/main.rs
  fuzzysearch/src/models.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Use BKApi instead of in-memory tree.
  Cargo.lock
  fuzzysearch/Cargo.toml
  fuzzysearch/src/filters.rs
  fuzzysearch/src/handlers.rs
  fuzzysearch/src/main.rs
  fuzzysearch/src/models.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Include health endpoint with metrics.
  fuzzysearch-common/src/trace.rs
Due: none

Avoid some unwraps.
  fuzzysearch-hash-input/src/main.rs
  fuzzysearch/src/handlers.rs
Due: Build FuzzySearch API

Break apart into multiple microservices (#10)
  .drone.yml
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/lib.rs
  fuzzysearch-common/src/trace.rs
  fuzzysearch-hash-input/Cargo.toml
  fuzzysearch-hash-input/Dockerfile
  fuzzysearch-hash-input/src/main.rs
  fuzzysearch-ingest-e621/Cargo.toml
  fuzzysearch-ingest-e621/Dockerfile
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/Dockerfile
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/Dockerfile
  fuzzysearch-ingest-weasyl/src/main.rs
  fuzzysearch-webhook/src/main.rs
  fuzzysearch/Cargo.toml
  fuzzysearch/Dockerfile
  fuzzysearch/src/filters.rs
  fuzzysearch/src/handlers.rs
  fuzzysearch/src/main.rs
  fuzzysearch/src/models.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Fix clippy lints, update Rust version.
  .gitlab-ci.yml
  Cargo.lock
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/src/main.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Add refresh to builds.
  .gitlab-ci.yml
Due: none

Update furaffinity-rs dependency.
  Cargo.lock
  fuzzysearch-ingest-furaffinity/Cargo.toml
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Update furaffinity-rs, again.
  Cargo.lock
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Update refresh Dockerfile to avoid extra build.
  fuzzysearch-refresh/Dockerfile
Due: none

Update faktory dependency.
  Cargo.lock
  fuzzysearch-refresh/Cargo.toml
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Setting for ingesters to download files.
  Cargo.lock
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/download.rs
  fuzzysearch-common/src/lib.rs
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/Dockerfile
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Skip unneeded logging with Weasyl submissions.
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build Ingester Weasyl

Add Weasyl metrics, rework metric names.
  Cargo.lock
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/Cargo.toml
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Add missing isnumeric function migration.
  migrations/20210822052026_isnumeric_function.down.sql
  migrations/20210822052026_isnumeric_function.up.sql
Due: none

Update deleted flag migration order.
  migrations/20210822052313_deleted_flag.down.sql
  migrations/20210822052313_deleted_flag.up.sql
Due: none

Small updates.
  Cargo.lock
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/lib.rs
  fuzzysearch/sqlx-data.json
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Add worker for refreshing submission data (#11)
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-refresh/Cargo.toml
  fuzzysearch-refresh/Dockerfile
  fuzzysearch-refresh/sqlx-data.json
  fuzzysearch-refresh/src/main.rs
  migrations/20210822052313_deleted_flag.down.sql
  migrations/20210822052313_deleted_flag.up.sql
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Add support for Twitter webhooks.
  fuzzysearch-common/src/faktory.rs
  fuzzysearch-common/src/types.rs
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/src/main.rs
  fuzzysearch-webhook/src/main.rs
Due: Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Bump versions.
  Cargo.lock
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/lib.rs
  fuzzysearch-common/src/trace.rs
  fuzzysearch-hash-input/Cargo.toml
  fuzzysearch-hash-input/src/main.rs
  fuzzysearch-ingest-e621/Cargo.toml
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-weasyl/Cargo.toml
  fuzzysearch/Cargo.toml
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Attempt to port builds to GitHub Actions.
  .github/workflows/release.yml
  .gitlab-ci.yml
  fuzzysearch-hash-input/Dockerfile
  fuzzysearch-ingest-e621/Dockerfile
  fuzzysearch-ingest-furaffinity/Dockerfile
  fuzzysearch-ingest-weasyl/Dockerfile
  fuzzysearch-refresh/Dockerfile
  fuzzysearch-webhook/Dockerfile
  fuzzysearch/Dockerfile
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Remove unused video code.
  .github/workflows/release.yml
  Cargo.lock
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/video.rs
  fuzzysearch/Cargo.toml
  fuzzysearch/Dockerfile
  fuzzysearch/src/main.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Include when results were posted.
  Cargo.lock
  Cargo.toml
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/faktory.rs
  fuzzysearch-common/src/types.rs
  fuzzysearch-hash-input/Cargo.toml
  fuzzysearch/Cargo.toml
  fuzzysearch/sqlx-data.json
  fuzzysearch/src/handlers.rs
  fuzzysearch/src/models.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Don't overwrite Faktory custom, set labels.
  fuzzysearch-common/src/faktory.rs
  fuzzysearch-common/src/lib.rs
  fuzzysearch-refresh/src/main.rs
  fuzzysearch-webhook/src/main.rs
Due: none

Rename to fuzzysearch-api, bump versions.
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  fuzzysearch-api/Cargo.toml
  fuzzysearch-api/Dockerfile
  fuzzysearch-api/sqlx-data.json
  fuzzysearch-api/src/filters.rs
  fuzzysearch-api/src/handlers.rs
  fuzzysearch-api/src/main.rs
  fuzzysearch-api/src/models.rs
  fuzzysearch-api/src/types.rs
  fuzzysearch-api/src/utils.rs
  fuzzysearch-hash-input/Cargo.toml
  fuzzysearch-hash-input/src/main.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Rework fuzzysearch-api with Poem and OpenAPI.
  Cargo.lock
  fuzzysearch-api/Cargo.toml
  fuzzysearch-api/queries/handle_twitter.sql
  fuzzysearch-api/queries/lookup_api_key.sql
  fuzzysearch-api/queries/lookup_furaffinity_file_id.sql
  fuzzysearch-api/queries/lookup_hashes.sql
  fuzzysearch-api/queries/update_rate_limit.sql
  fuzzysearch-api/src/filters.rs
  fuzzysearch-api/src/handlers.rs
  fuzzysearch-api/src/main.rs
  fuzzysearch-api/src/models.rs
  fuzzysearch-api/src/types.rs
  fuzzysearch-api/src/utils.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Path conditions:
  Build FuzzySearch API: any of: fuzzysearch/**, Cargo.lock
  Build Ingester e621: any of: fuzzysearch-ingest-e621/**, Cargo.lock
  Build Ingester FurAffinity: any of: fuzzysearch-ingest-furaffinity/**, Cargo.lock
  Build Ingester Weasyl: any of: fuzzysearch-ingest-weasyl/**, Cargo.lock
